.navMenu li {
  list-style: none;
}

.navbar {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
  /* background-color: #151617; */
  /* padding: 1rem 1.5rem; */
}

.navLogo {
  font-size: 30px;
  font-weight: 500;
  /* color: white; */
}

.navMenu {
  display: flex;
  /* justify-content: space-between; */
  /* align-items: center; */
}

.navItem {
  margin-left: 3rem;
}

.navLink {
  font-size: 19px;

  /* color: white; */
}

.nav-link:hover {
  /* color: #1ae5f7; */
}

/* .hamburger {
  display: none;
} */

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* background-color: white; */
}
